# Connect to Supabase via connection pooling
DATABASE_URL="""

# Direct connection to the database. Used for migrations
DIRECT_URL=""

# Supabase Storage
SUPABASE_URL=""
SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_BUCKET_PROFILE=""
SUPABASE_BUCKET_REPORT=""

# JWT Secret
JWT_SECRET=""
JWT_EXPIRES_IN=""

# Server Port
PORT=