# Connect to Supabase via connection pooling
DATABASE_URL="""

# Direct connection to the database. Used for migrations
DIRECT_URL=""

# JWT Secret
JWT_SECRET=""
JWT_EXPIRES_IN=""

# Server Port
PORT=